<h1> Page d'inscription </h1>

<form [formGroup]="userForm" (ngSubmit)="signup()">
  <app-email-form-field [parentFormGroup]="userForm"></app-email-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="passwordControl.hasError('required')">
      Le mot de passe est obligatoire
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
      Le mot de passe doit faire plus de 6 caractères
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Prénom" type="text" formControlName="first_name">
    <mat-error *ngIf="firstNameControl.hasError('required')">
      Le prénom est obligatoire
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Nom" type="text" formControlName="last_name">
    <mat-error *ngIf="lastNameControl.hasError('required')">
      Le nom est obligatoire
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit">Inscription</button>
</form>
