<h1>Dashboard</h1>

<p>Bienvenue {{user.first_name}} {{user.last_name}}</p>

<p>Voici les apprenants qui souhaitent apprendre la même chose que vous :</p>

<!-- | async est une manière de faire un subscribe depuis le html, quand une valeur est reçue elle est stocké dans 'matchs'  -->
<div class="cards-container" *ngIf="matchs$ | async as matchs">
  <div *ngFor="let matchedUser of matchs">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{matchedUser.first_name}} {{matchedUser.last_name}}</mat-card-title>
        <mat-card-subtitle><span *ngFor="let tag of matchedUser.tags">{{tag.name}} </span></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
