<h1>Profil</h1>

<form [formGroup]="userForm" (ngSubmit)="updateProfile()">

  <mat-form-field appearance="legacy">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Prénom" type="text" formControlName="first_name">
    <mat-error *ngIf="firstNameControl.hasError('required')">
      Le prénom est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Nom" type="text" formControlName="last_name">
    <mat-error *ngIf="lastNameControl.hasError('required')">
      Le nom est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Domaine d'apprentissage</mat-label>
    <mat-select formControlName="tags" multiple>
      <mat-option *ngFor="let tag of (tags$ | async)" [value]="tag">
        {{tag.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit">Enregistrer</button>
</form>
