<nav>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!isSignedIn" [routerLink]="'auth/signup'" mat-menu-item>
      <span>S'inscrire</span>
    </button>
    <button *ngIf="!isSignedIn" [routerLink]="'auth/signin'" mat-menu-item>
      <span>Se connecter</span>
    </button>
    <button *ngIf="isSignedIn" [routerLink]="'dash/home'" mat-menu-item>
      <span>Accueil</span>
    </button>
    <button *ngIf="isSignedIn && isAdmin" [routerLink]="'admin/home'" mat-menu-item>
      <span>Admin</span>
    </button>
    <button *ngIf="isSignedIn" [routerLink]="'dash/profile'" mat-menu-item>
      <span>Profile</span>
    </button>
    <button *ngIf="isSignedIn" (click)="signOut()" mat-menu-item>
      <span>Se déconnecter</span>
    </button>
  </mat-menu>
</nav>

<!-- Point d'encrage pour toute la navigation -->
<router-outlet></router-outlet>

